In [27]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

O_Retail=pd.read_excel("C:\\Users\\HP\\Desktop\\AnalytixLabs\\Machine Learning\\RFM\\Online Retail.xlsx")
O_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
O_Retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [4]:
O_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
O_Retail.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [6]:
O_Retail=O_Retail.loc[O_Retail['Country']=='United Kingdom']

In [7]:
O_Retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495478 entries, 0 to 541893
Data columns (total 8 columns):
InvoiceNo      495478 non-null object
StockCode      495478 non-null object
Description    494024 non-null object
Quantity       495478 non-null int64
InvoiceDate    495478 non-null datetime64[ns]
UnitPrice      495478 non-null float64
CustomerID     361878 non-null float64
Country        495478 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 34.0+ MB

In [8]:
O_Retail.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133600
Country             0
dtype: int64

In [9]:
#There are 133,600 missing values in the CustomerID column ,we will remove these missing values
O_Retail=O_Retail[pd.notnull(O_Retail['CustomerID'])]
O_Retail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 361878 entries, 0 to 541893
Data columns (total 8 columns):
InvoiceNo      361878 non-null object
StockCode      361878 non-null object
Description    361878 non-null object
Quantity       361878 non-null int64
InvoiceDate    361878 non-null datetime64[ns]
UnitPrice      361878 non-null float64
CustomerID     361878 non-null float64
Country        361878 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 24.8+ MB

In [10]:
O_Retail.Quantity.min()

-80995

In [11]:
O_Retail=O_Retail[O_Retail['Quantity']>0]
O_Retail.Quantity.min()

1

In [12]:
O_Retail.describe()

            Quantity      UnitPrice     CustomerID
count  354345.000000  354345.000000  354345.000000
mean       12.048913       2.963793   15552.436219
std       190.428127      17.862067    1594.546025
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   14194.000000
50%         4.000000       1.950000   15522.000000
75%        12.000000       3.750000   16931.000000
max     80995.000000    8142.750000   18287.000000

In [13]:
#total Price
O_Retail['TotalPrice']=O_Retail['Quantity']*O_Retail['UnitPrice']

In [14]:
#Since recency is calculated for a point in time, and the last invoice date is 2011–12–09,
#we will use 2011–12–10 to calculate recency.
import datetime as dt
print(O_Retail['InvoiceDate'].min())
print(O_Retail['InvoiceDate'].max())
Now=dt.datetime(2011,12,10)
O_Retail['InvoiceDate']=pd.to_datetime(O_Retail['InvoiceDate'])

2010-12-01 08:26:00
2011-12-09 12:49:00

In [15]:
O_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [16]:
rfmTable = O_Retail.groupby('CustomerID').agg({'InvoiceDate': lambda x: (Now - x.max()).days, 'InvoiceNo': lambda x: len(x), 'TotalPrice': lambda x: x.sum()})
rfmTable['InvoiceDate'] = rfmTable['InvoiceDate'].astype(int)
rfmTable.rename(columns={'InvoiceDate': 'Recency', 
                         'InvoiceNo': 'Frequency', 
                         'TotalPrice': 'Monetary'}, inplace=True)

In [17]:
rfmTable.head()

            Recency  Frequency  Monetary
CustomerID
12346.0         325          1  77183.60
12747.0           2        103   4196.01
12748.0           0       4596  33719.73
12749.0           3        199   4090.88
12820.0           3         59    942.34

In [18]:
def R_Quant(x):
    Q1=rfmTable.Recency.quantile(0.25)
    Q2=rfmTable.Recency.quantile(0.50)
    Q3=rfmTable.Recency.quantile(0.75)
    Q4=rfmTable.Recency.quantile(1)
    if x <=Q1:
        return 1
    elif x <= Q2:
        return 2
    elif x <= Q3: 
        return 3
    else:
        return 4
    
def F_Quant(x):
    Q1=rfmTable.Frequency.quantile(0.25)
    Q2=rfmTable.Frequency.quantile(0.50)
    Q3=rfmTable.Frequency.quantile(0.75)
    Q4=rfmTable.Frequency.quantile(1)
    if x <=Q1:
        return 4
    elif x <= Q2:
        return 3
    elif x <= Q3: 
        return 2
    else:
        return 1
    
def M_Quant(x):
    Q1=rfmTable.Monetary.quantile(0.25)
    Q2=rfmTable.Monetary.quantile(0.50)
    Q3=rfmTable.Monetary.quantile(0.75)
    Q4=rfmTable.Monetary.quantile(1)
    if x <=Q1:
        return 4
    elif x <= Q2:
        return 3
    elif x <= Q3: 
        return 2
    else:
        return 1

In [19]:
rfmTable['R_Quantiles']=rfmTable['Recency'].apply(R_Quant)
rfmTable['M_quantiles']=rfmTable['Monetary'].apply(M_Quant)
rfmTable['F_quantiles']=rfmTable['Frequency'].apply(F_Quant)

In [20]:
rfmTable.head()

,Recency,Frequency,Monetary,R_Quantiles,M_quantiles,F_quantiles
CustomerID,,,,,,
12346.0,325,1,77183.60,4,1,4
12747.0,2,103,4196.01,1,1,1
12748.0,0,4596,33719.73,1,1,1
12749.0,3,199,4090.88,1,1,1
12820.0,3,59,942.34,1,2,2

In [30]:
rfmTable['RFMScore']=rfmTable.R_Quantiles.map(str)+rfmTable.M_quantiles.map(str)+rfmTable.F_quantiles.map(str)

In [31]:
rfmTable.head()

,Recency,Frequency,Monetary,R_Quantiles,M_quantiles,F_quantiles,RFMScore,R_seg,FM_seg
CustomerID,,,,,,,,,
12346.0,325,1,77183.60,4,1,4,414,NaN,NaN
12747.0,2,103,4196.01,1,1,1,111,NaN,NaN
12748.0,0,4596,33719.73,1,1,1,111,NaN,NaN
12749.0,3,199,4090.88,1,1,1,111,NaN,NaN
12820.0,3,59,942.34,1,2,2,122,NaN,NaN

In [32]:
rfmTable=rfmTable.assign(R_seg=np.nan, FM_seg =np.nan)
rfmTable.R_seg[rfmTable['R_Quantiles']==4] = "1.Active"
rfmTable.R_seg[rfmTable['R_Quantiles']==2] = "2.At Risk"
rfmTable.R_seg[rfmTable['R_Quantiles']==3] = "2.At Risk"
rfmTable.R_seg[rfmTable['R_Quantiles']==1] = "3.Churn"

rfmTable.FM_seg[(rfmTable['F_quantiles']==3) & (rfmTable['M_quantiles']==1)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==4) & (rfmTable['M_quantiles']==1)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==2) & (rfmTable['M_quantiles']==2)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==3) & (rfmTable['M_quantiles']==2)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==4) & (rfmTable['M_quantiles']==4)] = "1.Silver"
rfmTable.FM_seg[(rfmTable['F_quantiles']==1) & (rfmTable['M_quantiles']==3)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==2) & (rfmTable['M_quantiles']==3)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==3) & (rfmTable['M_quantiles']==3)] = "1.Silver"
rfmTable.FM_seg[(rfmTable['F_quantiles']==4) & (rfmTable['M_quantiles']==3)] = "1.Silver"
rfmTable.FM_seg[(rfmTable['F_quantiles']==1) & (rfmTable['M_quantiles']==4)] = "2.Gold"
rfmTable.FM_seg[(rfmTable['F_quantiles']==2) & (rfmTable['M_quantiles']==4)] = "1.Silver"
rfmTable.FM_seg[(rfmTable['F_quantiles']==3) & (rfmTable['M_quantiles']==4)] = "1.Silver"
rfmTable.FM_seg[(rfmTable['F_quantiles']==4) & (rfmTable['M_quantiles']==4)] = "0.Standard"

rfmTable.FM_seg.fillna("4.Premium", inplace=True)

In [33]:
rfmTable

,Recency,Frequency,Monetary,R_Quantiles,M_quantiles,F_quantiles,RFMScore,R_seg,FM_seg
CustomerID,,,,,,,,,
12346.0,325,1,77183.60,4,1,4,414,1.Active,2.Gold
12747.0,2,103,4196.01,1,1,1,111,3.Churn,4.Premium
12748.0,0,4596,33719.73,1,1,1,111,3.Churn,4.Premium
12749.0,3,199,4090.88,1,1,1,111,3.Churn,4.Premium
12820.0,3,59,942.34,1,2,2,122,3.Churn,2.Gold
12821.0,214,6,92.72,4,4,4,444,1.Active,0.Standard
12822.0,70,46,948.88,3,2,2,322,2.At Risk,2.Gold
12823.0,74,5,1759.50,3,1,4,314,2.At Risk,2.Gold
12824.0,59,25,397.12,3,3,3,333,2.At Risk,1.Silver
12826.0,2,91,1474.72,1,2,2,122,3.Churn,2.Gold
12827.0,5,25,430.15,1,3,3,133,3.Churn,1.Silver
12828.0,2,56,1018.71,1,2,2,122,3.Churn,2.Gold
12829.0,336,11,293.00,4,4,4,444,1.Active,0.Standard
12830.0,37,38,6814.64,2,1,3,213,2.At Risk,2.Gold
12831.0,262,9,215.05,4,4,4,444,1.Active,0.Standard
12832.0,32,27,383.03,2,3,3,233,2.At Risk,1.Silver
12833.0,145,24,417.38,4,3,3,433,1.Active,1.Silver
12834.0,282,18,312.38,4,3,3,433,1.Active,1.Silver
12836.0,59,175,2612.86,3,1,1,311,2.At Risk,4.Premium
12837.0,173,12,134.10,4,4,4,444,1.Active,0.Standard
12838.0,33,123,683.13,2,2,1,221,2.At Risk,4.Premium
12839.0,2,314,5591.42,1,1,1,111,3.Churn,4.Premium
12840.0,143,113,2726.77,4,1,1,411,1.Active,4.Premium
12841.0,4,420,4022.35,1,1,1,111,3.Churn,4.Premium
12842.0,70,34,1118.99,3,2,3,323,2.At Risk,2.Gold
12843.0,65,103,1702.26,3,1,1,311,2.At Risk,4.Premium
12844.0,29,52,325.96,2,3,2,232,2.At Risk,2.Gold
12845.0,267,27,354.09,4,3,3,433,1.Active,1.Silver
12847.0,22,91,871.54,2,2,2,222,2.At Risk,2.Gold
12849.0,31,51,1050.89,2,2,2,222,2.At Risk,2.Gold
...,...,...,...,...,...,...,...,...,...
18242.0,72,78,2232.49,3,1,2,312,2.At Risk,4.Premium
18245.0,7,175,2567.06,1,1,1,111,3.Churn,4.Premium
18246.0,23,4,596.10,2,3,4,234,2.At Risk,1.Silver
18248.0,122,47,804.02,3,2,2,322,2.At Risk,2.Gold
18249.0,17,8,95.34,1,4,4,144,3.Churn,0.Standard
18250.0,310,21,349.27,4,3,3,433,1.Active,1.Silver
18251.0,87,16,4314.72,3,1,4,314,2.At Risk,2.Gold
18252.0,50,98,526.67,2,3,2,232,2.At Risk,2.Gold
18255.0,89,6,103.30,3,4,4,344,2.At Risk,0.Standard
18257.0,39,118,2337.63,2,1,1,211,2.At Risk,4.Premium
18259.0,24,42,2338.60,2,1,2,212,2.At Risk,4.Premium
18260.0,172,134,2643.20,4,1,1,411,1.Active,4.Premium
18261.0,43,21,324.24,2,3,3,233,2.At Risk,1.Silver
18262.0,140,13,149.48,3,4,4,344,2.At Risk,0.Standard
18263.0,25,61,1213.16,2,2,2,222,2.At Risk,2.Gold
18265.0,72,46,801.51,3,2,2,322,2.At Risk,2.Gold
18268.0,134,1,25.50,3,4,4,344,2.At Risk,0.Standard
18269.0,366,7,168.60,4,4,4,444,1.Active,0.Standard
18270.0,38,11,283.15,2,4,4,244,2.At Risk,0.Standard
18272.0,2,166,3078.58,1,1,1,111,3.Churn,4.Premium
18273.0,2,3,204.00,1,4,4,144,3.Churn,0.Standard
18274.0,30,11,175.92,2,4,4,244,2.At Risk,0.Standard
18276.0,43,14,335.86,2,3,4,234,2.At Risk,1.Silver
18277.0,58,8,110.38,3,4,4,344,2.At Risk,0.Standard
18278.0,73,9,173.90,3,4,4,344,2.At Risk,0.Standard
18280.0,277,10,180.60,4,4,4,444,1.Active,0.Standard
18281.0,180,7,80.82,4,4,4,444,1.Active,0.Standard
18282.0,7,12,178.05,1,4,4,144,3.Churn,0.Standard
18283.0,3,756,2094.88,1,1,1,111,3.Churn,4.Premium
18287.0,42,70,1837.28,2,1,2,212,2.At Risk,4.Premium